﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="~/js/three.js"></script>

<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>


<script type="text/javascript">
    //import * as THREE from './js/three.module.js';

	let camera, scene, renderer;
	let geometry, material, mesh;

	init();

	function init() {

		camera = new THREE.PerspectiveCamera( 70, window.innerWidth / window.innerHeight, 0.01, 10 );
		camera.position.z = 1;

		scene = new THREE.Scene();

		geometry = new THREE.BoxGeometry( 0.2, 0.2, 0.2 );
		material = new THREE.MeshNormalMaterial();

		mesh = new THREE.Mesh( geometry, material );
		scene.add( mesh );

		renderer = new THREE.WebGLRenderer( { antialias: true } );
		renderer.setSize( window.innerWidth, window.innerHeight );
		renderer.setAnimationLoop( animation );
		document.body.appendChild( renderer.domElement );

	}

	function animation( time ) {

		mesh.rotation.x = time / 2000;
		mesh.rotation.y = time / 1000;

		renderer.render( scene, camera );

	}
	const domContainer = document.querySelector('#like_button_container');
</script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

	<div id="like_button_container"></div>

	<button>TEST</button>

	<button>Test</button>


</div>

<script type="text/javascript">

	ReactDOM.render("HELLO WORLD", document.getElementById("like_button_container"));
</script>
